
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.redes{
  margin-right: 35px;
}

#logoap{
  width: 210px;
  margin-left: 10px;
}

img{
  width: 50px;
}

#linkedin{
  margin-right: 10px;
}

#boton{
  margin-left: 10px;
  border-width: medium;
}

/*...Para vista de celular...*/
@media(max-width: 575px){
.container{
  flex-direction: column;
}

.redes{
  flex-direction: column;
  align-items: center;
}

.redes img{
  margin: 0.2em;
}
}
