<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Fullstack development</h1> - <h3>Argentina Programa 2022</h3>
      </li>
      <p>Introducción a desarrollo web y aplicaciones, front end estático y dinámico, bases de datos, Java, POO, Devops.</p>
    </ul>
    <ul>
      <li>
        <h1>Testing funcional</h1> - <h3>Neocomplexx 2022</h3>
      </li>
      <p>Preparación inicial para comprobar si las funcionalidades del desarrollo de un proyecto se realizaron siguiendo las especificaciones y requisitos del cliente, así como sus necesidades iniciales.</p>
    </ul>
    <ul>
      <li>
        <h1>Tecnicatura en turismo</h1> - <h3>UES21 2021</h3>
      </li>
      <p>Capacitación para colaborar en la formulación de planes, proyectos y programas de desarrollo turísticos. Aplicación de técnicas de marketing y promoción. Ejecución y control de actividades específicas en áreas de competencia turística.</p>
    </ul>
  </div>
</div>

