<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [radius]="100"
  [showUnits]= "false"
  [imageSrc]="'../assets/html.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#D35400'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [radius]="100"
  [showUnits]= "false"
  [imageSrc]="'../assets/CSS.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#1F618D'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
  </div>  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [showUnits]= "false"
    [imageSrc]="'../assets/js.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#F1C40F'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="100"
  [radius]="100"
  [showUnits]= "false"
  [title]="'EMPATÍA'"
  [titleFontSize]="'20'"
  [titleColor]="'#22282E'"
  [titleFontWeight]="'bold'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#008000'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
  </div>  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [showUnits]= "false"
    [title]="'IELTS'"
    [subtitle]="'certification'"
    [titleFontSize]="'30'"
    [titleColor]="'#7B241C'"
    [titleFontWeight]="'bold'"
    [showSubtitle]="true"
    [subtitleFontSize]="'20'"
    [subtitleColor]="'black'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#922B21'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [showUnits]= "false"
    [title]="'FLEXIBILIDAD'"
    [titleFontSize]="'20'"
    [titleColor]="'#22282E'"
    [titleFontWeight]="'bold'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#008000'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
</div>

