<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img src="../../../assets/Foto.jpg" class="img-fluid" id="fotodeperfil">
    <p id="nombre">Stephanie Malbert</p>
    <p id="titulo">Fullstack Developer Jr.<br>
      Técnica en turismo
    </p>
  </div>


  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <span>
    <h1 id="acercademi1">Acerca de mí</h1>
    <p id="acercademi2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nulla aut modi incidunt iure omnis quis fugit dignissimos laboriosam numquam repellat cum odio in tempora distinctio totam, facilis maiores nesciunt?</p>
  </span>
  </div>
  </div>


