<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Babel Travel & Business</h1> - <h3>2017 - actualidad</h3>
      </li>
      <p>Agente de viajes. Encargada de franquicia, atención al público y tareas específicas.</p>
    </ul>
    <ul>
      <li>
        <h1>Estudio Jurídico</h1> - <h3>2011-2014</h3>
      </li>
      <p> Secretaria. Tareas administrativas, gestión y organización de expedientes.</p>
    </ul>
  </div>
</div>
